img {
    width: 300px;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c9c8c8;
    border-radius: 5px;
}

.error-message {
    color: red;
}

#input1.error, #input2.error, #input3.error {
    border-color: red;
}

